@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;

}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #082f49, #075985);
}

/* TEXT SECTION */

.text-section {
    flex-basis: 30%;
}

.heading {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.subheading {
    color: #ddd;
    margin-top: 10 px;
    text-align: center;
}

/* GALLERY */

.gallery {
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

/* BOXES */

.box {
    color: white;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e5e5e;
    background-blend-mode: overlay;
}

.box:hover {
    background-color: #8b8b8b;
    transition: all 0.4s ease-in-out;
    background-position: center;
    box-shadow: 0 0 4px #fff;
}

.box-one {
    background-image: url(https://images.unsplash.com/photo-1616930067077-d24ea2044130?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1964&q=80);
}

.box-two {
    background-image: url(https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}

.box-three {
    background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80);
}

.box-four {
    background-image: url(https://images.unsplash.com/photo-1600085653587-abfbde556472?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
}

.box-five {
    background-image: url(https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}

.box-six {
    background-image: url(https://images.unsplash.com/photo-1489619243109-4e0ea59cfe10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}

.box-seven {
    background-image: url(https://images.unsplash.com/photo-1501608607047-86552dbaccaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
}

.row-2 {
    grid-row: span 2;
}

.col-2 {
    grid-column: span 2;
}

/* MEDIA QUERY - WIDTH < 1024 PX */
@media screen and (max-width: 1024px) {
    .container {
        padding-block: 20px;
        flex-direction: column;
    }
    .gallery {
        width: 100%;
        padding-inline: 10px;
        grid-auto-rows: 200px;
    }
    .box {
        grid-row: span 1;
        grid-column: span 3;
    }
}